<div class="header">
  <a href="/" class="logo">Farm Management System</a>
  <div class="header-right">
    <a class="active" href="/get-data">Cattle</a>
    <a href="/get-feeddata">Feed</a>
    <a href="/get-vetdata">Vet Bills</a>
    <a href="/get-supplydata">Supplies</a>
    <a href="/removeupdate">Remove/Update</a>
    <a href="/get-profitdata">Profits</a>
    <a href="/get-profitdata">Profits</a>

  </div>
</div>



</section>
<section class="get">
    <h3>Get Profit Margins</h3>

    <div>

            <article class="profit">
                <div>vet total costs: {{ totalProfit }}</div>
                <div>feed total costs: {{ totalProfit2 }}</div>
                <div>supply total costs: {{ totalProfit3 }}</div>
                <div>Cattle bought: {{ totalProfit4 }}</div>
                <div>Cattle sold: {{ totalProfit5 }}</div>
                <div>Cattle +-: {{ totalProfit6 }}</div>
                  <div>Cattle +-: {{ totalProfit6 }}</div>

            </article>

    </div>


</section>
